{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}


{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">Address:1924,Busan Street,Chennai-97.</p>
        <p class="fs-4 text-center">contact:+91 19199724</p>
        <p class="fs-4 text-center">gmail:theanmozhidhanasekaran@gmail.com</p>
    </div>
</div>
<br><br>
{% endblock main-content%}
