{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block main-content %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcome {{ request.user.username|capfirst }}</h3>
        </div>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url 'home' %}" class="btn btn-success">Back to Home</a>
                    </li>
                </ul>
            </div>
            <!-- Form Section -->
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Password changed successfully !</h3>
                
            </div>
        </div>
    </div>
{% endblock %}
